<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="running.java.mendelu.cz.bakalarskapraca">

    <uses-permission android:name="android.permission.SET_ALARM">

    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED">

    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".MainViewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main_view" />
        <activity
            android:name=".TasksDetailActivity"
            android:theme="@style/AppTheme"
            />
        <activity android:name=".MyPlanActivity2" />
        <activity android:name=".MyDailyPlanActivity" />
        <activity android:name=".MyMorningPlanActivity" />
        <activity android:name=".MyLunchPlanActivity" />
        <activity android:name=".MyEveningPlanActivity" />
        <activity
            android:name=".MyPlanTabsActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:label="@string/title_activity_my_plan_tabs" />
        <activity
            android:name=".CreateExamActivity" />
        <activity
            android:name=".CreateSubjectActivity" />
        <activity
            android:name=".NavigationMainActivity"
            android:label="@string/title_activity_navigation_main"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".OneExamDetailActivity" />
        <activity android:name=".CreateHabitActivity">
        </activity>
        <activity android:name=".notifications.HabitNotificationActivity">
        </activity>
        <activity android:name=".notifications.ExamNotificationStartActivity">
        </activity>
        <activity android:name=".notifications.ExamPostponeNotificationActivity"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:excludeFromRecents="true"
            />
        <activity android:name=".notifications.StartMainNotificationsActivity"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:excludeFromRecents="true"
            />
        <receiver android:name=".notifications.receivers.MorningHabitNotificationReceiver"
            android:enabled="true"
            android:exported="true"
            />
        <receiver android:name=".notifications.receivers.ExamNotificationReceiver"></receiver>
        <receiver android:name=".notifications.receivers.DatabaseRecordReceiver"></receiver>
        <receiver android:name=".notifications.receivers.LunchHabitNotificationReceiver">
        </receiver>
        <receiver android:name=".notifications.receivers.EveningHabitNotificationReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".notifications.receivers.CancelMorningHabitNotificationReceiver"></receiver>
        <receiver android:name=".notifications.receivers.CancelLunchHabitNotificationReceiver"></receiver>
        <receiver android:name=".notifications.receivers.CancelEveningHabitNotificationReceiver"></receiver>
        <receiver android:name=".notifications.receivers.DatabaseTimeChangeReceiver"></receiver>
    </application>

</manifest>