<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="running.java.mendelu.cz.bakalarskapraca">

    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/myicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/myicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".MainViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e3465835aad25874ab26b29d25472cb73030f612" />

        <activity
            android:name=".TasksDetailActivity"
            android:label="Skúšky"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MyPlanTabsActivity"
            android:label="Plány"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CreateExamActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CreateSubjectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".OneExamDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CreateHabitActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".notifications.HabitNotificationActivity"
            android:excludeFromRecents="true"
            android:theme="@style/NoActionBar" />
        <activity android:name=".notifications.ExamNotificationStartActivity" />
        <activity
            android:name=".notifications.ExamPostponeNotificationActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".notifications.StartMainNotificationsActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".notifications.ExamTomorrowNotificationActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".notifications.SleepNotificationActivity"
            android:label="Skúšky"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>

        <receiver
            android:name=".notifications.receivers.DailyHabitNotificationReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver android:name=".notifications.receivers.ExamNotificationReceiver" />
        <receiver android:name=".notifications.receivers.DatabaseRecordReceiver" />
        <receiver android:name=".notifications.receivers.AfterBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".notifications.receivers.EveningHabitNotificationReceiver" />
        <receiver android:name=".notifications.receivers.CancelEveningHabitNotificationReceiver" />
        <receiver android:name=".notifications.receivers.DatabaseTimeChangeReceiver" />
        <receiver android:name=".notifications.receivers.CancelExamReceiver" />
        <receiver android:name=".notifications.receivers.ExamTomorrowReceiver"></receiver>
        <receiver android:name=".notifications.receivers.SleepReceiver" />

        <activity
            android:name=".IconsActivity"
            android:label="Použité ikony"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".IntroActivity"
            android:label="Exam Helper"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".InfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>